html
    head
        meta(charset='utf-8')

        // Bootstrap core CSS
        link(rel='stylesheet', href='/assets/dist/css/bootstrap.min.css')

        
        link(href='/css/offcanvas.css', rel='stylesheet')
        block link
        style
            block style
    body
        .jumbotron.jumbotron-fluid(style="margin-top: 0px; margin-bottom: 0px")
            .container(style="text-align: center; padding-top: 0px; padding-bottom: 0px")
                h1 Petroleum sales management software
                p Faster, better and convenient

        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            a.navbar-brand.mr-auto.mr-lg-0(href='/') Home
            button.navbar-toggler.p-0.border-0(type='button', data-toggle='offcanvas')
                span.navbar-toggler-icon
            
    
            #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/bills') Bill
                    li.nav-item
                        a.nav-link(href='/clients') Client
                    li.nav-item
                        a.nav-link(href='/drivers') Driver
                    li.nav-item
                        a.nav-link(href='/gasStations') Gas station
                    li.nav-item
                        a.nav-link(href='/products') Product
                    li.nav-item
                        a.nav-link(href='/contracts') Contract
                    li.nav-item
                        a.nav-link(href='/dividedContracts') Divided Contract
                    li.nav-item
                        a.nav-link(href='/roles') Role
                    li.nav-item
                        a.nav-link(href='/users') User
                .nav-item.dropdown
                    button#dropdown.nav-link.dropdown-toggle.btn.btn-primary(href='/', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Settings
                        span.caret
                    .dropdown-menu(aria-labelledby='dropdown')
                        button#changeAccount.dropdown-item.btn-light Change account
                        .dropdown-divider
                        button#signOut.dropdown-item.btn-light Sign out
                        .dropdown-divider
                        button.dropdown-item.btn-light Setting

        


        
        

        .container.pt-4(style="float: center;")
            block content
        
        
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script.
            window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js"><\/script>')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
        script(src='/assets/dist/js/bootstrap.min.js')
        script(src='/assets/dist/js/bootstrap.bundle.min.js')
        
        script(src='views/js/offcanvas.js')

        script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src="/views/js/object.js")
        script(src="/views/js/login.js")
        


        block body_continue

        