extends ./layouts/common
block style
    include ../css/common.css
block content

    table#content.table.table-striped.table-bordered.table-light
        tr
            th Name
            th Code
            th Unit
            th Price


block body_continue
    script(src="/views/js/products.js").